<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="leveltest">

	<resultMap type="LeveltestVo" id="leveltestMap">
		<result property="memberId" column="member_id" />
		<result property="levelScore" column="level_score" />
		<result property="memberLevel" column="member_level" />
	</resultMap>
	
	<resultMap type="LessonVo" id="LessonMap">
		<result property="lessonNo" column="LESSON_NO" />
		<result property="lessonName" column="LESSON_NAME" />
		<result property="lessonInfo" column="LESSON_INFO" />
		<result property="lessonLevel" column="LESSON_LEVEL" />
		<result property="lessonType" column="LESSON_TYPE" />
		<result property="lessonTime" column="LESSON_TIME" />
		<result property="lessonPrice" column="LESSON_PRICE" />
		<result property="lessonTotal" column="LESSON_TOTAL" />
		<result property="tutorId" column="TUTOR_ID" />
		<result property="lessonSample" column="LESSON_SAMPLE" />
	</resultMap>
	
	<insert id="insert" parameterType="LeveltestVo">
		INSERT INTO MEMBER_LEVEL
 		VALUES(#{memberId},#{levelScore},#{memberLevel})
	</insert>
	
	<select id="selectLevel" parameterType="String" resultMap="leveltestMap">
		SELECT * FROM MEMBER_LEVEL
		WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="selectList" parameterType="com.blah.vo.LeveltestVo" resultMap="LessonMap" >
		SELECT * FROM LESSON
		WHERE LESSON_LEVEL = #{memberLevel}
	</select>



</mapper>