<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="payment">
	<resultMap type="paymentVo" id="PaymentMap">
		<result property="memberId" column="MEMBER_ID"/>	<!--  javaType="java.lang.String" jdbcType="VARCHAR" -->
		<result property="lessonNo" column="LESSON_NO"/>	<!--  javaType="java.lang.Integer" jdbcType="NUMERIC" -->
		<result property="paymentDay" column="PAYMENT_DAY"/>	<!-- javaType="java.util.Date" jdbcType="DATE" -->
		<result property="impUid" column="IMP_UID"/>	<!--  javaType="java.lang.String" jdbcType="VARCHAR" -->
	</resultMap>
	<select id="selectOne" parameterType="hashmap" resultMap="PaymentMap">
		SELECT * FROM PAYMENT WHERE LESSON_NO=#{lessonNo} OR (LESSON_NO=#{lessonNo} AND MEMBER_ID=#{userId})
	</select>
	<insert id="insert" parameterType="hashmap">
		INSERT INTO PAYMENT Values(#{userId},#{lessonNo},SYSDATE,#{impUid})
	</insert>
</mapper>