<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="payment">
	<resultMap type="myclassVo" id="MyclassMap">
		<result property="lessonNo" column="LESSON_NO"/>	<!--  javaType="java.lang.Integer" jdbcType="NUMERIC" -->
		<result property="memberId" column="MEMBER_ID"/>	<!--  javaType="java.lang.String" jdbcType="VARCHAR" -->
		<result property="myclassTotalcnt" column="MYCLASS_TOTALCNT"/>
		<result property="myclassRemaincnt" column="MYCLASS_REMAINCNT"/>
		<result property="paymentDay" column="PAYMENT_DAY"/>	<!-- javaType="java.util.Date" jdbcType="DATE" -->
		<result property="impUid" column="IMP_UID"/>	<!--  javaType="java.lang.String" jdbcType="VARCHAR" -->
		<result property="lesson1st" column="MYCLASS_DATE1"/>
		<result property="lesson2nd" column="MYCLASS_DATE2"/>
		<result property="lesson3rd" column="MYCLASS_DATE3"/>
		<result property="lesson4th" column="MYCLASS_DATE4"/>
	</resultMap>
	<resultMap type="LessonVo" id="lessonMap">
		<result property="lessonNo" column="LESSON_NO" />
		<result property="lessonName" column="LESSON_NAME" />
		<result property="lessonInfo" column="LESSON_INFO" />
		<result property="lessonLevel" column="LESSON_LEVEL" />
		<result property="lessonType" column="LESSON_TYPE" />
		<result property="lessonTime" column="LESSON_TIME" />
		<result property="lessonPrice" column="LESSON_PRICE" />
		<result property="lessonTotal" column="LESSON_TOTAL" />
		<result property="tutorId" column="TUTOR_ID" />
		<result property="lessonSample" column="LESSON_SAMPLE" />
		<result property="lessonStart" column="LESSON_START" />
	</resultMap>
	<resultMap type="java.lang.String" id="String">
	</resultMap>
	<select id="selectOne" parameterType="hashmap" resultMap="MyclassMap">
		SELECT * FROM MYCLASS WHERE LESSON_NO=#{lessonNo} OR (LESSON_NO=#{lessonNo} AND MEMBER_ID=#{memberId})
	</select>
	<insert id="insert" parameterType="hashmap">
		INSERT INTO MYCLASS Values(#{lessonNo},#{memberId},4,4,SYSDATE,#{impUid},#{lesson1st},#{lesson2nd},#{lesson3rd},#{lesson4th})
	</insert>
	<select id="selectDay" parameterType="String" resultMap="String">
		SELECT SUBSTR(LESSON_TIME, 1, 1) FROM LESSON WHERE LESSON_NO = #{lessonNo}
	</select>
	<select id="chkLessonEnd" parameterType="int" resultType="int">
		SELECT LESSON_NO FROM MYCLASS WHERE LESSON_NO = #{lessonNo}
	</select>
	<select id="isMyLesson" parameterType="hashmap" resultType="int">
		SELECT LESSON_NO FROM MYCLASS WHERE LESSON_NO = #{lessonNo} AND MEMBER_ID = #{memberId}
	</select>
</mapper>