<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<resultMap type="MemberVo" id="memberMap">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberType" column="MEMBER_TYPE"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberLevel" column="MEMBER_LEVEL"/>
		<result property="memberPhoto" column="MEMBER_PHOTO"/>
		<result property="memberEnabled" column="MEMBER_ENABLED"/>
	</resultMap>

	<resultMap type="LessonVo" id="lessonMap">
		<result property="lessonNo" column="LESSON_NO" />
		<result property="lessonName" column="LESSON_NAME" />
		<result property="lessonInfo" column="LESSON_INFO" />
		<result property="lessonLevel" column="LESSON_LEVEL" />
		<result property="lessonType" column="LESSON_TYPE" />
		<result property="lessonTime" column="LESSON_TIME" />
		<result property="lessonPrice" column="LESSON_PRICE" />
		<result property="lessonTotal" column="LESSON_TOTAL" />
		<result property="tutorId" column="TUTOR_ID" />
		<result property="lessonSample" column="LESSON_SAMPLE" />
	</resultMap>
	<resultMap type="MyclassVo" id="myclassMap">
		<result property="lessonNo" column="LESSON_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="myclassTotalcnt" column="MYCLASS_TOTALCNT"/>
		<result property="myclassRemaincnt" column="MYCLASS_REMAINCNT"/>
	</resultMap>
	
	<select id="selectMember" parameterType="MemberVo" resultMap="memberMap">
		SELECT member_id, member_pw, member_type, member_name, member_email, member_level, member_photo
		FROM MEMBER
		WHERE MEMBER_ID=#{memberId}
	</select>

	<select id="selectMyClass" parameterType="MemberVo" resultMap="lessonMap">
		SELECT lesson_no, lesson_name, lesson_info, lesson_level, lesson_type, lesson_time, tutor_id, lesson_sample
		FROM lesson
		JOIN myclass USING(lesson_no)
		<choose>
                <when test='memberType.equals("USER")'>
					WHERE member_id=#{memberId} AND myclass.myclass_remaincnt > 0
                </when>
                <when test='memberType.equals("TUTOR")'>
                	WHERE tutor_id=#{memberId} AND myclass.myclass_remaincnt > 0
                </when>
		</choose>
	</select>
	
	<select id="selectMyClosedClass" parameterType="MemberVo" resultMap="lessonMap">
		SELECT lesson_name, lesson_info, lesson_level, lesson_type, lesson_time, tutor_id
		FROM lesson
		JOIN myclass USING(lesson_no)
		<choose>
                <when test='memberType.equals("USER")'>
					WHERE member_id=#{memberId} AND myclass.myclass_remaincnt = 0
                </when>
                <when test='memberType.equals("TUTOR")'>
                	WHERE tutor_id=#{memberId} AND myclass.myclass_remaincnt = 0
                </when>
		</choose>
		
	</select>
	
	<select id="selectProgress" parameterType="MemberVo" resultMap="myclassMap">
		SELECT LESSON_NO, MYCLASS_TOTALCNT, MYCLASS_REMAINCNT
		FROM myclass
		JOIN lesson USING(lesson_no)
		<choose>
                <when test='memberType.equals("USER")'>
					WHERE member_id=#{memberId}
                </when>
                <when test='memberType.equals("TUTOR")'>
                	WHERE tutor_id=#{memberId}
                </when>
		</choose>
	</select>
	
	<update id="updateProfile" parameterType="MemberVo">
		UPDATE MEMBER SET MEMBER_PHOTO=#{memberPhoto} 
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<update id="updatePassword" parameterType="MemberVo">
		UPDATE MEMBER SET MEMBER_PW = #{memberPw}
		WHERE MEMBER_ID = #{memberId}
	</update>

	<update id="deleteMember" parameterType="MemberVo" >
		UPDATE MEMBER SET MEMBER_ENABLED = 'N'
		WHERE MEMBER_ID = #{memberId}
	</update>
	
</mapper>