<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<resultMap type="LessonVo" id="LessonMap">
		<result property="lessonNo" column="LESSON_NO" />
		<result property="lessonName" column="LESSON_NAME" />
		<result property="lessonInfo" column="LESSON_INFO" />
		<result property="lessonLevel" column="LESSON_LEVEL" />
		<result property="lessonType" column="LESSON_TYPE" />
		<result property="lessonTime" column="LESSON_TIME" />
		<result property="lessonPrice" column="LESSON_PRICE" />
		<result property="lessonTotal" column="LESSON_TOTAL" />
		<result property="tutorId" column="TUTOR_ID" />
		<result property="lessonSample" column="LESSON_SAMPLE" />
	</resultMap>
	<resultMap type="MyclassVo" id="myclassMap">
		<result property="lessonNo" column="LESSON_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="myclassTotalcnt" column="MYCLASS_TOTALCNT"/>
		<result property="myclassRemaincnt" column="MYCLASS_REMAINCNT"/>
	</resultMap>
	
	<select id="selectMyClass" resultMap="LessonMap">
		SELECT lesson_name, lesson_info, lesson_level, lesson_type, lesson_time, tutor_id, lesson_sample
		FROM lesson
		JOIN myclass USING(lesson_no)
		WHERE member_id=#{memberId} AND myclass.myclass_remaincnt > 0
	</select>
</mapper>